name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: leanprover/lean-action@v1
      - name: Check Axioms
        run: |
          lake exe check_axioms
          if [ $? -ne 0 ]; then
            echo "Axiom check failed!"
            exit 1
          fi
